h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

.back {
  background-color: #999999;
}

img {
  display: flex;
  justify-content: flex-end;
}

.rightside {
  float: right;
  display: flex;
  margin-right: 30px;
}

.list {
  padding-bottom: 50px;
  border: 3px black;
  border-style: dotted;
  width: 200px;
  font-size: 20px;
}
